.container__video__card{   
    width:500px;
    height: 450px;  
      
    
}
.video__card__video{   
    width:500px;
    height: 450px;
    border-style: groove;
    border-radius: 5px;
    border-color: chartreuse;        

}
.video__card__title > h1 >a{ 
    margin-top: 20px;
    color: red; 
    display: flex;
    
}