<div class="titulo-página">        
    <p><b>O Turismo</b></p>         
</div>


<div class="container__conteudo1">
    <div class="conteudo__foto1">
        <img src="https://milvus-files.s3.sa-east-1.amazonaws.com/producao/empresa17632/chamado_anexo/20231204133515_Trilha+dos+Cardeiros.png"
            alt="" title="Trilha dos Cardeiros/ São Pedro da Aldeia-Rj.">
    </div>

    <div class="conteudo__title1">
        <h1>Trilha dos Cardeiros</h1>
    </div>

    <div class="conteudo__description1">
        <div class="text"> 
        <p><b>A trilha tem início no píer da Praia do Sudoeste e conta com 5km totalmente sinalizado e predominantemente
                costeiro, com terrenos entre areias, água, conchas e formações rochosas chegando até as praias do Bairro
                Baleia.</b></p>
         
                <div id="link-ref">
                    <a href="https://pmspa.rj.gov.br/nossos-atrativos" id="link"><p><b>https://pmspa.rj.gov.br/nossos-atrativos</b></p></a>
                </div>
            </div>
        </div>
    </div>      


<div class="container__conteudo2">
    <div class="conteudo__foto2">
        <img src="https://milvus-files.s3.sa-east-1.amazonaws.com/producao/empresa17632/chamado_anexo/20231204133500_Museu%20Regional%20do%20Sal.JPG"
            alt="" title="Museu Regional do Sal/ São Pedro da Aldeia-Rj.">
    </div>

    <div class="conteudo__title2">
        <h1>Museu Regional do Sal</h1>
    </div>

    <div class="conteudo__description2">
        <div class="text"> 
        <p><b>São Pedro da Aldeia é a cidade pioneira do Brasil a ter um acervo histórico dedicado exclusivamente à
                cultura do sal e das salinas, predominante na Região dos Lagos. O espaço é composto por uma sala de
                vídeo, uma área de exibição de imagens da história universal do sal, uma sala de exposições diversas e o
                salão principal. A visitação é gratuita, de quinta-feira a domingo, das 13h às 19h.</b></p>

                <div id="link-ref">
                    <a href="https://pmspa.rj.gov.br/nossos-atrativos" id="link"><p><b>https://pmspa.rj.gov.br/nossos-atrativos</b></p></a>
                </div>
            </div>
        </div>
    </div>
       
   

<div class="container__conteudo3">
    <div class="conteudo__foto3">
        <img src="https://s2.glbimg.com/4vfR44_9kuwY0RNOIkcX-cit6cQ=/0x0:550x366/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2017/e/I/1KqlUwQ3aOQIc5lvU6bQ/casa-dos-artesaos.jpg"
            alt="" title="Casa dos Azulejos/ São Pedro da Aldeia-Rj.">
    </div>

    <div class="conteudo__title3">
        <h1>Casa dos Azulejos</h1>
    </div>

    <div class="conteudo__description3">
        <div class="text"> 
        <p><b>A Casa dos Azulejos é uma residência em estilo colonial, construída pela família do fazendeiro português
                Feliciano Gonçalves Negreiros em 1847 e muito semelhante às casas de fazenda portuguesas. Sua construção
                utilizou materiais como argamassa de argila, conchas e óleo de baleia. O revestimento da casa, que a
                caracteriza e lhe dá nome, foi feito com azulejos trazidos de Portugal. O telhado é de madeira rústica e
                telhas de barro modeladas por escravizados naquele século XIX. Um fato muito marcante da Casa dos
                Azulejos é que ela acolheu, em 1868, a Princesa Isabel e seu esposo, príncipe Gastão de Orléans, e o
                Conde d’Eu, quando estiveram em viagem pela região. </b></p>

                <div id="link-ref">
                    <a href="https://pmspa.rj.gov.br/nossos-atrativos" id="link"><p><b>https://pmspa.rj.gov.br/nossos-atrativos</b></p></a>
                </div>
            </div>
        </div>
    </div>
    

<div class="container__conteudo4">
    <div class="conteudo__foto4">
        <img src="https://www.geoparquecostoeselagunas.com/wp-content/uploads/2022/09/casaazulejos6.jpg" alt=""
            title="Portal Histórico/ São Pedro da Aldeia-Rj.">
    </div>

    <div class="conteudo__title4">
        <h1>Portal Histórico</h1>
    </div>

    <div class="conteudo__description4">
        <div class="text"> 
        <p><b>As grandes residências construídas no núcleo urbano de São Pedro da Aldeia no século XIX exibiam vistosos
                portais às margens da Lagoa de Araruama, nos fundos dos lotes. Acompanhando o estilo colonial dos
                casarões, os portais eram como brasões das famílias proprietárias. Para a sua construção, foram
                empregados os materiais da época, tais quais, pedras, conchas e óleo de baleia. Esses portais, bem como
                as residências, tombadas pelo INEPAC, são patrimônios aldeenses, representantes da época colonial.</b>

                <div id="link-ref">
                    <a href="https://pmspa.rj.gov.br/nossos-atrativos" id="link"><p><b>https://pmspa.rj.gov.br/nossos-atrativos</b></p></a>
                </div>
            </div>
        </div>
    </div>      
         
    


<div class="container__conteudo5">
    <div class="conteudo__foto5">
        <img src="https://ogimg.infoglobo.com.br/in/2690125-c01-2ba/FT1086A/760/Com-a-cor-original-a-estacao-de-trem-de-Sao-Pedro-abrigara-escritorio-do-Iphan-Foto-DivulgacaoIphan.jpg"
            alt="" title="Estação Ferroviária/ São Pedro da Aldeia-Rj.">
    </div>

    <div class="conteudo__title5">
        <h1>Estação Ferroviária</h1>
    </div>

    <div class="conteudo__description5">
        <div class="text"> 
        <p><b>A estação ferroviária de São Pedro da Aldeia foi inaugurada em 1937, para a ampliação da Estrada de Ferro
                Maricá, cuja construção iniciara no final do século XIX e ligava Neves, bairro de São Gonçalo à beira da
                Baía de Guanabara, à localidade de Iguaba Grande. A estação aldeense fez parte da ampliação do ramal da
                EFM até o município de Cabo Frio, empreendimento iniciado no início do século XX. Após seu fechamento,
                em 1962, a estação passou a funcionar como terminal rodoviário e em 2010, por iniciativa do IPHAN. Com a
                revitalização, a estação, construída em estilo art déco, voltou à sua cor original, amarelo ocre, que
                estava escondida sob diversas camadas de tinta aplicadas ao longo dos anos. Bem próxima do centro da
                cidade, a estação ferroviária de São Pedro da Aldeia, que dá nome ao bairro onde se localiza, entre
                Rodovia RJ-140.</b></p>

                <div id="link-ref">
                    <a href="https://pmspa.rj.gov.br/nossos-atrativos" id="link"><p><b>https://pmspa.rj.gov.br/nossos-atrativos</b></p></a>
                </div>
            </div>
        </div>
    </div>
  



<div class="container__conteudo6">
    <div class="conteudo__foto6">
        <img src="https://www.nelsonkon.com.br/wp-content/uploads/2018/04/gabriel_joaquim_dos_santos_casa_da_flor_1MG_6622.jpg"
            alt="" title="Casa da Flor/ São Pedro da Aldeia-Rj.">
    </div>

    <div class="conteudo__title6">
        <h1>Casa da Flor</h1>
    </div>

    <div class="conteudo__description6">
        <div class="text"> 
        <p><b>“Uma casa feita de cacos e transformada em flor”, assim Gabriel Joaquim dos Santos definiu a Casa da Flor.
                Nascido em 1892, filho de um ex-escravizado e uma índia, o trabalhador da roça e das salinas Gabriel
                Joaquim dos Santos alfabetizou-se apenas aos 36 anos. Iniciou a construção de sua singela residência em
                1912, mas foi a partir de 1923, após um sonho, que Gabriel passou a ornamentar sua casa com fragmentos
                de cerâmica e vidros, lâmpadas queimadas, faróis de automóveis, conchas e o que mais achava que
                harmonizaria sua construção artística. Até 1985, ano em que faleceu, nosso artista seguiu enfeitando sua
                casa, deixando-a como inestimável legado. As visitações, guiadas pelo Sr. Valdevir dos Santos,
                sobrinho-neto de Gabriel Joaquim dos Santos, acontecem de quarta-feira a domingo, das 10h às 12h e das
                13h às 17h.</b></p>

                <div id="link-ref">
                    <a href="https://pmspa.rj.gov.br/nossos-atrativos" id="link"><p><b>https://pmspa.rj.gov.br/nossos-atrativos</b></p></a>
                </div>
            </div>
        </div>
    </div>   



<div class="container__conteudo7">
    <div class="conteudo__foto7">
        <img src="https://i1.wp.com/forcaaerea.com.br/wp-content/uploads/2020/08/WhatsApp-Image-2020-08-23-at-14.34.09.jpeg?ssl=1"
            alt="" title="Aeronave Af-1 - Falcão/ São Pedro da Aldeia-Rj.">
    </div>

    <div class="conteudo__title7">
        <h1>Aeronave Af-1 "Falcão"</h1>
    </div>

    <div class="conteudo__description7">
        <div class="text"> 
        <p><b>Outro ponto turístico que vale a pena uma parada é a Aeronave AF-1 Falcão, da Força Aeronaval da Marinha
                do Brasil, que foi transformado em monumento. A aeronave está instalada no pier da orla da Lagoa de
                Araruama, simbolizando a ligação que a Aviação Naval tem com a cidade e vice-versa, sendo cada vez mais
                conhecida como a Morada da Aviação Naval, a única no Brasil.</b></p>

                <div id="link-ref">
                    <a href="https://pmspa.rj.gov.br/nossos-atrativos" id="link"><p><b>https://pmspa.rj.gov.br/nossos-atrativos</b></p></a>
                </div>
            </div>
        </div>
    </div>
      
         
       
  

<div class="container__conteudo8">
    <div class="conteudo__foto8">
        <img src="https://milvus-files.s3.sa-east-1.amazonaws.com/producao/empresa17632/chamado_anexo/20240105194815_Eu%20amo%20SPA.JPG"
            alt="" title="Helicótero SH-3 Sea King/ São Pedro da Aldeia-Rj.">
    </div>

    <div class="conteudo__title8">
        <h1>Helicótero SH-3 Sea King</h1>
    </div>

    <div class="conteudo__description8">
        <div class="text"> 
        <p><b>Nova atração turística da cidade com exposição permanente, o helicóptero modelo SH-3 Sea King, doado pela
                Marinha do Brasil, é o novo ponto turístico aldeense, que homenageia a Aviação Naval brasileira. A
                aeronave está localizada na Orla da Praia do Centro, às margens da Rodovia RJ-140, juntamente com o novo
                painel “Eu amo São Pedro da Aldeia”.</b></p>
                
                <div id="link-ref">
                    <a href="https://pmspa.rj.gov.br/nossos-atrativos" id="link"><p><b>https://pmspa.rj.gov.br/nossos-atrativos</b></p></a>
                </div>
            </div>
        </div>
    </div>
   
    

<div class="container__video__card">
    <div class="video__card__video">
      
        <iframe width="600" height="450" src="https://www.youtube.com/embed/d8mJngSA0NI?si=rHZPPG7hvivhD82K"
            title="YouTube video player" frameborder="0" a
            llow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    </div>

    <div class="video__card__description">
        <div class="text">      

    <div id="link-ref">
        <a href="https://www.youtube.com/RebecaRezende" id="link"><p><b>https://www.youtube.com/RebecaRezende</b></p></a>
    </div>
</div>
</div>
</div>







    <div class="paginação">
        <a href="#" class="link link-1"><i class="bi bi-1-square-fill"></i></a>
        <a href="http://localhost:4200/content" class="link link-2"><i class="bi bi-2-square-fill"></i></a>
        <a href="http://localhost:4200/conteudo" class="link link-3"><i class="bi bi-3-square-fill"></i></a>                       
        <a href="http://localhost:4200/conteudo2" class="link link-4"><i class="fa-solid fa-angles-right"></i></a>
    </div>    

   
        <app-main-footer></app-main-footer>
