
/***** Card *****/


.container__big-card{    
    width:550px;
    height:380px;
    margin-top: 25.5px;
    margin-left: 120px; 

                     
}
.big-card__title  h1 b{  
    color: #ff2500;
    margin-top: 15px; 
    display: flex;
    justify-content: center; 
    margin-top: 10px;
    
  
       
}
.big-card__title:hover h1 b{
    color:#00FFFF;
    transition: all 0.3s ease-in-out;

}
.big-card__foto img {
    width:550px;
    height:380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border-color:#ff2500;
    border-style: groove;   
    text-align: center;    

  
    
}

.big-card__description{   
    color:  rgb(65, 64, 64);  
    font-size: 18px;           
    font-style: oblique;   
    display: flex;
    text-align: justify;
    justify-content: center;  
    background-color: transparent;   
    backdrop-filter: blur(15px);
    border-radius: 5px;
    margin-top: 15px;
    padding: 15px;
  
    
       
}

#link-ref p{
    color: #ff2500;
    cursor: pointer;
    margin-top: 10px;
    margin-left: -2px;

  
    
   
}
/***** Vídeo *****/

.video__card__video{    
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 150px;   
    margin-left: 8.7%;
    position: relative;
   
    

}
.video-description{ 
    width:600px;
    height: 60px;     
    color:  rgb(65, 64, 64);  
    font-size: 18px;           
    font-style: oblique;   
    display: flex;
    text-align: justify;
    justify-content: center;  
    background-color: transparent;   
    backdrop-filter: blur(15px);
    margin-top: -5px;    
    border-radius: 5px; 
    padding: 35px;
    
     
     
} 

#link-ref p {
    color: #ff2500;
    cursor: pointer;

    
}
#link p{
    margin-top: -20px;
    margin-left: -28px;

}









