.container__small__card{
   
    width: 400px;
    display: flex;
    flex-direction: row; 
    margin-left: 30px;
   

        
}
.small__card__foto > img{
    width:  200px;
    min-width: 200px;
    margin: 20px;
   
  

}
.small__card__description p {
    margin-left: 50px;
    margin-top: 10px;
    color: gray;
    font-size: 15px;
}


