<script src="https://kit.fontawesome.com/95049e3761.js" crossorigin="anonymous"></script>

<body>
    <nav>
        <div class="logo">
            <h1>Blog  Cidade</h1>
        </div>
        <ul>
            <li>

                <a href="http://localhost:4200/">Home</a>
                <a href="https://pmspa.rj.gov.br/historia/">Nossa História</a>
                <a href="https://pmspa.rj.gov.br/nossas-praias/">As Praias</a>
                <a href="https://pmspa.rj.gov.br/nossos-atrativos/">Turismo</a>
                <a href="https://pmspa.rj.gov.br/nossos-atrativos/">Atrativos</a>
                <a href="https://www.google.com/maps/dir/Aeroporto+Santos+Dumont+(SDU)+-+Pra%C3%A7a+Senador+Salgado+Filho+-+Centro,+Rio+de+Janeiro+-+RJ/S%C3%A3o+Pedro+da+Aldeia,+RJ/@-22.777653,-43.0695756,128264m/data=!3m1!1e3!4m14!4m13!1m5!1m1!1s0x9981dc9dddeb7b:0xe5dd62143d35dcc7!2m2!1d-43.1644725!2d-22.9102805!1m5!1m1!1s0x970f945a947daf:0xd54265ca58372b71!2m2!1d-42.1032541!2d-22.8376247!3e0!5m1!1e1?entry=ttu&g_ep=EgoyMDI0MTAwOC4wIKXMDSoASAFQAw%3D%3D">Como
                    Chegar ?</a>
            </li>
            <ul class="icon-1">
                <li>
                    <i class="fa-solid fa-house-chimney"></i>
                </li>
            </ul>
            <ul class="icon-2">
                <li>
                    <i class="fa-solid fa-landmark"></i>
                </li>
            </ul>
            <ul class="icon-3">
                <li>
                    <i class="fa-solid fa-umbrella-beach"></i>
                </li>
            </ul>
            <ul class="icon-4">
                <li>
                    <i class="fa-solid fa-person-walking-luggage"></i>
                </li>
            </ul>
            <ul  class="icon-5">
                <li>
                    <i class="fa-solid fa-camera"></i>
                </li>
            </ul>
            <ul class="icon-6">
                <li >
                    <i class="fa-solid fa-map-location-dot"></i>
                </li>
            </ul>
        </ul>
    </nav>
</body>



